*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
html,body{
  display: grid;
  height: 100vh;
  place-items:center;
  background-image: url("hotel.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 50px;
  border-radius: 15px;
}
.main_div{
  width: 365px;
  background: rgb(238, 224, 224);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px whitesmoke;
}
.main_div .title{
  text-align: left;
  font-size: 20px;
  font-weight: 100;
}
.main_div .social_icons{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.social_icons a{
  display: block;
  height: 45px;
  width: 100%;
  line-height: 45px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  color: rgb(23, 11, 11);
  text-decoration: none;
  transition: all 0.3s linear;
}
.social_icons a span{
  margin-left: 5px;
  font-size: 18px;
}
.social_icons a:first-child{
  margin-right: 5px;
  background: #4267B2;
}
.social_icons a:first-child:hover{
  background: #375695;
}

.social_icons a:last-child{
  margin-left: 5px;
  background: #f762bb;
}
.social_icons a:last-child:hover{
  background: #fd74d8;
}
form {
  margin-top: 25px;
}
form .input_box{
  height: 50px;
  width: 100%;
  position: relative;
  margin-top: 15px;
}
.input_box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid rgb(238, 227, 227);
  border-radius: 5px;
  padding-left: 45px;
  font-size: 15px;
  transition: all 0.3s ease;
}
.input_box input:focus{
  border-color: #400f18;
}
.input_box .icon{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: rgb(105, 101, 101);
}
form .option_div{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.option_div .check_box{
  display: flex;
  align-items: center;
}
.option_div span{
  margin-left: 5px;
  font-size: 16px;
  color: #333;
}
.option_div .forget_div a{
  font-size: 16px;
  color: #6989eb;
}
.button input{
  padding-left: 0;
  background: #1c0707;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
}
.button input:hover{
  background: grey;
}
form .sign_up{
  text-align: center;
  margin-top: 25px;
}
.sign_up a{
  color: #6989eb;
}
form a{
  text-decoration: none;
}
form a:hover{
  text-decoration: underline;
}
